.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;

  background-color: var(--purple-500);
}

.box {
  background: var(--gray-800);
  border-radius: 8px;
  padding: 1.5rem;
  min-width: 250px;
}

.box > h1 {
  color: var(--gray-100);
  line-height: 1.6;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 1.25rem;
}

.box > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.inputGroup + .inputGroup {
  margin-top: 1rem;
}

.inputGroup > label {
  line-height: 1.6;
  color: var(--gray-100);
}

.inputGroup > input {
  width: 100%;
  background: var(--gray-900);
  border: 0;
  resize: none;
  padding: 1rem 0.75rem;
  border-radius: 8px;
  color: var(--gray-100);
  line-height: 1.4;
  margin-top: 0.25rem;
}

.box button[type="submit"] {
  padding: 1rem 1.5rem;
  margin-top: 1rem;
  border-radius: 8px;
  border: 0;
  background: var(--green-500);
  color: var(--white);
  font-weight: bold;
  cursor: pointer;
  width: 100%;

  transition: background-color 0.1s;
}

.box button[type="submit"]:hover {
  background: var(--green-300);
}

@media screen and (min-width: 420px) {
  .box {
    min-width: 400px;
    padding: 2.5rem;
  }

  .box > h1 {
    font-size: 1.75rem;
  }
}
